@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: firacode;
  src: url(@/client/assets/firacode.woff2);
}

@font-face {
  font-family: pretendard;
  src: url(@/client/assets/pretendard.woff2);
}

@font-face {
  font-family: tossface;
  src: url(@/client/assets/tossface.otf);
  unicode-range: U+1F600-1F64F;
}

* {
  word-break: keep-all;
}

body {
  font-family: pretendard;
}

html,
body {
  width: 100%;
  height: 100%;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --viewport-content: calc(100% - 44px);

  --tile-width: 100%;
  --tile-title: 19px;

  --wide-tile-width: 330px;
  --wide-tile-height: 555px;

  --unit-size: 14px;
}

@media (min-width: 480px) {
  :root {
    --viewport-content: 87.5%;

    --wide-tile-width: 421px;

    --unit-size: 18px;
  }
}

@media (min-width: 734px) {
  :root {
    --viewport-content: calc(100% - 134px);

    --tile-width: 290px;

    --wide-tile-width: 642px;

    --unit-size: 24px;
  }
}

@media (min-width: 1068px) {
  :root {
    --viewport-content: calc(100% - 180px);

    --tile-width: 434px;
    --tile-title: 24px;

    --wide-tile-width: 955px;
    --wide-tile-height: 600px;

    --unit-size: 24px;
  }
}

.horizontal-pad {
  margin-inline: auto;
  width: var(--viewport-content);
}

.heart:before,
.heart:after {
  position: absolute;
  content: '';
  left: 24px;
  top: 0;
  width: 24px;
  height: 36px;
  background: red;
  border-radius: 16px 16px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
