#archiveList {
    margin-bottom: 4rem;
}

.archiveRow {
    margin-bottom: 1rem;
}

.archiveRow a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.archiveBookmark {
    margin-bottom: 1rem;
}

.archiveBookmark a {
    display: block;
    text-decoration: none;
    color: royalblue 
}

.archiveBookmark p {
    font-size: 0.8rem;
}