#tilList {
    list-style: none;
}

.tilRow {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 12px;
    display: block;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}
