#archiveHeader {
    position: sticky;
    top: 80px;
    z-index: -999;
    margin: 0 .5px;
}

#archiveHeaderContent {
    padding: 20px;
}

#imageWrapper span {
    filter: blur(3px) brightness(60%);
    z-index: -1;
}

#archiveHeaderContent h2 {
    white-space: pre-line;
    font-size: 2rem;
    font-family: bold;
    color: white;
    margin-bottom: 8px;
}

#archiveHeaderContent h3 {
    font-size: 1rem;
    color: lightgray;
}

#archiveText {
    padding-top: 20px;
}

@media screen and (max-width: 500px) {
    #archiveHeader {
        top: 112px;
    }
}