#archiveHeader {
    /* position: sticky;
    top: 100px; 
    z-index: -1; */
    /* 깔끔하게 할 방법 찾아보기 */
    padding: 10px;
    margin-bottom: 3rem;
    border-radius: 5px;
}

#archiveHeader>h2 {
    white-space: pre-line;
    font-size: 2.5rem;
    color: white;
}

#archiveHeader>h3 {
    font-size: 1rem;
    color: lightgray;
}