#nav-title {
    display: block;
    font-family: 'bold', sans-serif;
    font-size: 4rem;
    margin-top: 24px;
    margin-bottom: 0px;
    line-height: 3rem;
    color: black;
}

#nav-description {
    font-family: 'bold', sans-serif;
    font-size: 1rem;
    color: dimgray;
    margin-bottom: 24px;
}

#dict-list h2 {
    margin-bottom: 1rem;
}

#dict-list h3 {
    color: dimgray;
    margin-bottom: 0.5rem;
}

#post-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    white-space: pre-line;
    margin-bottom: 2rem;
}
