.postRow:not(:last-child) {
    margin-bottom: 1.5rem;
}

.postRow {
    list-style: none;
}

.postRow a {
    text-decoration: none; /* 왜??? */
}

.postRow h2 {
    font-size: 1rem;
    font-family: bold;
}

.postRow h3 {
    font-size: 0.8rem;
    font-family: regular;
    color: dimgray;
}
