@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --viewport-content: calc(100% - 180px);
}

@media (max-width: 1068px) {
  :root {
    --viewport-content: calc(100% - 134px);
  }
}

@media (max-width: 734px) {
  :root {
    --viewport-content: 87.5%;
  }
}
@media (max-width: 480px) {
  :root {
    --viewport-content: calc(100% - 44px);
  }
}

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    'Apple SD Gothic Neo',
    Roboto,
    'Noto Sans KR',
    'Segoe UI',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  word-break: keep-all;
}
