.horizontal-pad {
  margin-inline: auto;
  width: var(--viewport-content);
}

section {
  padding-top: 87px;
}

@media (max-width: 1068px) {
  section {
    padding-top: 71px;
  }
}

@media (max-width: 734px) {
  section {
    padding-top: 62px;
  }
}
@media (max-width: 480px) {
  section {
    padding-top: 54px;
  }
}

section:first-child {
  padding-top: 80px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1068px) {
  section:first-child {
    padding-top: 72px;
    flex-flow: column;
    align-items: start;
  }
}

@media (max-width: 734px) {
  section:first-child {
    padding-top: 64px;
  }
}
@media (max-width: 480px) {
  section:first-child {
    padding-top: 56px;
  }
}

section:nth-child(3) {
  background-color: #f5f5f7;
}

.headline {
  font-size: 80px;
  font-weight: 600;
  color: rgb(29, 29, 31);
  margin-right: 30px;
  line-height: 1.15;
}

@media (max-width: 1068px) {
  .headline {
    font-size: 64px;
    line-height: 1.171875;
  }
}

@media (max-width: 734px) {
  .headline {
    font-size: 48px;
    line-height: 1.1875;
  }
}

@media (max-width: 480px) {
  .headline {
    font-size: 40px;
    line-height: 1.2;
  }
}

.copy {
  margin-top: 10px;
  width: 390px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: 0.012em;
  color: rgb(29, 29, 31);
}

@media (max-width: 1068px) {
  .copy {
    max-width: 535px;
    margin-top: 10px;
    width: auto;
    font-size: 19px;
  }
}

@media (max-width: 590px) {
  .copy {
    max-width: 430px;
  }
}

.section-headline {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0;
  color: #86868b;

  strong {
    font-weight: 600;
    color: #1d1d1f;
  }
}

@media (max-width: 1068px) {
  .section-headline {
    font-size: 40px;
    margin-bottom: 36px;
  }
}

@media (max-width: 734px) {
  .section-headline {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .section-headline {
    font-size: 28px;
    margin-bottom: 28px;
  }
}
