#container {
    padding: 0;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

#links {
    margin-top: 20px;
}

#links > a {
    color: dimgray;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

