#postContent {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#postContent::before {
    content: "";
    border: lightGray solid 0.5px;
    margin-bottom: 20px;
}

#postContent * {
    margin-bottom: 16px;
}

#postContent p {
    font-size: 1rem;
    font-family: 'regular', sans-serif;
    line-height: 1.8;
    white-space: pre-wrap;
}

#postContent em {
    color: dimgray;
}

#postContent a {
    font-size: 1rem;
    font-family: 'regular', sans-serif;
    text-decoration: underline;
    color: dimgray;
}

#postContent strong {
    font-family: 'bold', sans-serif;
}

#postContent img {
    display: block;
    max-width: 100%;
}

#postContent h2 {
    font-family: bold;
    font-size: 1.6rem;
    word-break: keep-all;
    margin-bottom: 0; 
}

#postContent h2::after {
    content: '';
    width: 100%;
    height: 1px;
    color: lightgray;
}

#postContent h2+* {
    margin-top: 1.5rem;
}

#postContent h2:not(:first-child) {
    margin-top: 4rem;
}

#postContent h3 {
    font-family: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    word-break: keep-all;
}

#postContent h3:not(:first-child) {
    margin-top: 1.5rem;
}

#postContent ol {
    list-style-type: decimal;
}

#postContent ul {
    list-style-type: square;
}

#postContent li {
    line-height: 2;
    margin-left: 20px;
    margin-bottom: 4px;
}

#postContent blockquote {
    display: block;
    background: #eee;
    border-left: 4px solid #ccc;
}

#postContent blockquote p {
    padding: 8px 16px;
    margin-bottom: 0;
}

#postContent hr {
    margin: 24px 0;
    color: dimgray;
}

#postContent code * {
    font-family: 'code';
    color: #D4D5C1;
    word-break: break-word;
}