#postContent img {
    display: block;
    max-width: 100%;
}

#postContent h2 {
    color: #333;
    font-size: 2rem;
    word-break: keep-all;
    margin-bottom: 2rem;
}

#postContent h2:not(:first-child) {
    margin-top: 6rem;
}

#postContent h3 {
    color: #333;
    font-family: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    word-break: keep-all;
}

#postContent ol {
    list-style-type: decimal;
}

#postContent ul {
    list-style-type: square;
}

#postContent li {
    line-height: 2;
    margin-left: 20px;
}

#postContent blockquote {
    display: inline-block;
    background: #eee;
    border-left: 4px solid #ccc;
    padding: 4px 16px;
}

#postContent p+p,
#postContent ul+p,
#postContent ol+p,
#postContent p+pre,
#postContent p+blockquote,
#postContent blockquote+p {
    margin-top: 16px;
}

#postContent blockquote+blockquote {
    margin-top: 24px;
}

#postContent hr {
    margin: 24px 0;
    color: dimgray;
}

#postContent pre+p {
    margin-top: 24px;
}

#postContent pre+p>em {
    color: dimgray;
}