#storyNav strong {
    font-family: 'bold', sans-serif;
    font-size: 1rem;
    color: dimgray;
    line-height: 1.5rem;
    display: block;
}

#storyNav button {
    font-family: 'bold', sans-serif;
    font-size: 1rem;
    margin-right: 16px;
    color: black;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#storyNav p {
    font-family: 'bold', sans-serif;
    font-size: 1rem;
    color: dimgray;
    margin-bottom: 24px;
}

#currentLink {
    display: block;
    font-family: 'bold', sans-serif;
    font-size: 4rem;
    margin-top: 24px;
    margin-bottom: 0px;
    line-height: 3rem;
    color: black;
}