#storyNav {
    background-color: white;
}

#storyNav p {
    font-family: 'bold', sans-serif;
    font-size: 1rem;
    color: dimgray;
    margin-bottom: 4rem;
}

#currentLink {
    display: block;
    font-family: 'bold', sans-serif;
    font-size: 4rem;
    margin-top: 24px;
    margin-bottom: 0px;
    line-height: 3rem;
    color: black;
}