#tilList {
    list-style: none;
    width: 300px;
}

.tilRow {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 0.8rem;
    display: block;
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.8);
    padding: 10px;
    border-radius: 8px;
}

.tilRow a {
    font-size: 1rem;
    font-family: bold;
    text-decoration: none;
}

.tilRow h3 {
    font-size: 0.8rem;
    font-family: regular;
    word-break: keep-all;
}
