#tilList {
    list-style: none;
    width: 300px;
}

.tilRow {
    cursor: pointer;
    padding-left: 5px;
    margin-bottom: 16px;
}

.tilRow a {
    font-size: 1rem;
    font-family: bold;
    text-decoration: none;
}

.tilRow h3 {
    font-size: 0.8rem;
    font-family: regular;
    word-break: keep-all;
    margin-bottom: 5px;
}
