.ScrollAreaRoot {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --scrollbar-size: 16px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 4px;
}

.ScrollAreaScrollbar:hover .ScrollAreaThumb {
  opacity: 0.9;
}
.ScrollAreaScrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: white;
  opacity: 0.5;
  position: relative;
}
