#til-list {
    list-style: none;
}

#til-list h2 {
    color: black;
    font-size: 1rem;
    text-decoration: underline;
    margin-bottom: 10px;
}

.til-row {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 8px;
}

/* content */

#til-date {
    font-size: 2rem;
    margin: 2vw 0;
}

#til-date h2 {
    font-size: 3rem;
    line-height: 3rem;
}

#time-table {
    margin-bottom: 24px;
}

.time-table__element {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.time-table__element h2 {
    margin-right: 16px;
    font-size: 1rem;
}