.post-row:not(:last-child) {
    margin-bottom: 1rem;
}

.post-row h2 {
    font-family: 'bold';
    font-size: 1.2rem;
}

.post-row {
    list-style: none;
}

#post-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    white-space: pre-line;
}

#post-header h3 {
    margin-bottom: 4rem;
}