@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.js";

:root {
	--toastify-toast-bd-radius: 0px;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.147 0.004 49.25);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.147 0.004 49.25);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.147 0.004 49.25);
	--primary: oklch(0.216 0.006 56.043);
	--primary-foreground: oklch(0.985 0.001 106.423);
	--secondary: oklch(0.97 0.001 106.424);
	--secondary-foreground: oklch(0.216 0.006 56.043);
	--muted: oklch(0.97 0.001 106.424);
	--muted-foreground: oklch(0.553 0.013 58.071);
	--accent: oklch(0.97 0.001 106.424);
	--accent-foreground: oklch(0.216 0.006 56.043);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.923 0.003 48.717);
	--input: oklch(0.923 0.003 48.717);
	--ring: oklch(0.709 0.01 56.259);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.001 106.423);
	--sidebar-foreground: oklch(0.147 0.004 49.25);
	--sidebar-primary: oklch(0.216 0.006 56.043);
	--sidebar-primary-foreground: oklch(0.985 0.001 106.423);
	--sidebar-accent: oklch(0.97 0.001 106.424);
	--sidebar-accent-foreground: oklch(0.216 0.006 56.043);
	--sidebar-border: oklch(0.923 0.003 48.717);
	--sidebar-ring: oklch(0.709 0.01 56.259);

	--success: var(--color-green-400);
	--fail: var(--color-red-400);
	--success-foreground: var(--color-white);
	--fail-foreground: var(--color-white);
}

@layer base {
	html {
		/* 모달 등을 띄울 때 gutter에는 오버레이가 안붙어서 붕 떠있다. */
		/* 보니까 shadcn인지 radix인지 알아서 margin-right를 더해주니 이걸로 처리하자 */
		/* scrollbar-gutter: stable; */
	}

	body {
		letter-spacing: -0.01em;
		font-weight: 400;
		font-size: 1rem;
		color: var(--foreground);
		font-family:
			"Pretendard Variable",
			Pretendard,
			-apple-system,
			BlinkMacSystemFont,
			system-ui,
			Roboto,
			"Helvetica Neue",
			"Segoe UI",
			"Apple SD Gothic Neo",
			"Noto Sans KR",
			"Malgun Gothic",
			"Apple Color Emoji",
			"Segoe UI Emoji",
			"Segoe UI Symbol",
			sans-serif;
		word-break: keep-all;
	}

	/* 1. Use a more-intuitive box-sizing model */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	/* 3. Enable keyword animations */
	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	body {
		/* 4. Add accessible line-height */
		line-height: 1.75;
		/* 5. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	/* 6. Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/* 7. Inherit fonts for form controls */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* 8. Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 9. Improve line wrapping */
	p {
		text-wrap: pretty;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	/*
    10. Create a root stacking context
  */
	#root,
	#__next {
		isolation: isolate;
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-success: var(--success);
	--color-fail: var(--fail);
	--color-success-foreground: var(--success-foreground);
	--color-fail-foreground: var(--fail-foreground);
}

.dark {
	--background: oklch(0.147 0.004 49.25);
	--foreground: oklch(0.985 0.001 106.423);
	--card: oklch(0.216 0.006 56.043);
	--card-foreground: oklch(0.985 0.001 106.423);
	--popover: oklch(0.216 0.006 56.043);
	--popover-foreground: oklch(0.985 0.001 106.423);
	--primary: oklch(0.923 0.003 48.717);
	--primary-foreground: oklch(0.216 0.006 56.043);
	--secondary: oklch(0.268 0.007 34.298);
	--secondary-foreground: oklch(0.985 0.001 106.423);
	--muted: oklch(0.268 0.007 34.298);
	--muted-foreground: oklch(0.709 0.01 56.259);
	--accent: oklch(0.268 0.007 34.298);
	--accent-foreground: oklch(0.985 0.001 106.423);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.553 0.013 58.071);

	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);

	--sidebar: oklch(0.216 0.006 56.043);
	--sidebar-foreground: oklch(0.985 0.001 106.423);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.001 106.423);
	--sidebar-accent: oklch(0.268 0.007 34.298);
	--sidebar-accent-foreground: oklch(0.985 0.001 106.423);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.553 0.013 58.071);

	--success: var(--color-green-500);
	--fail: var(--color-red-500);
	--success-foreground: var(--color-white);
	--fail-foreground: var(--color-white);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* https://dev.to/mmvergara/why-are-buttons-losing-the-pointer-cursor-the-shadcn-and-tailwind-debate-2j93 */
@layer base {
	button:not([disabled]),
	[role="button"]:not([disabled]) {
		cursor: pointer;
	}
}

/* TODO: details 처리 이게 최선? */
.mdx {
	@apply flex flex-col gap-7 max-w-2xl mx-auto mt-7 will-change-transform px-4;

	& > details {
		@apply space-y-7 ml-4;
	}

	/* TODO: 애니메이션 넣기 */
	& > h1,
	& > details > h1 {
		@apply font-extrabold;
	}

	& > h2,
	& > details > h2 {
		@apply font-extrabold;
		&::before {
			content: "「";
			@apply text-primary;
		}
		&::after {
			content: "」";
			@apply text-primary;
		}
	}

	& > h2 {
		@apply mt-21;
	}

	& > h3,
	& > details > h3 {
		@apply font-extrabold;
	}

	& > img,
	& > details > img {
		@apply max-w-xl w-full;
	}

	& > p > strong,
	& > p > b,
	& > details > p > strong,
	& > details > p > b {
		@apply font-extrabold;
	}

	& > details > summary {
		@apply cursor-pointer;
	}

	& > blockquote,
	& > details > blockquote {
		@apply border-l border-primary pl-4;
	}

	& pre,
	& pre * {
		@apply text-sm;
		font-family: var(--font-monoplex-kr);
	}

	& ul {
		@apply list-disc list-inside;
	}

	& ol {
		@apply list-decimal list-inside;
	}

	& > p > a {
		@apply underline;
	}
}

.container {
	overflow: hidden;
	white-space: nowrap;
}

.scrolling {
	animation: marquee 2s linear infinite;
	display: inline-block;
	padding-right: 10px;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

/* 전역 스타일시트때문에 엣지가 안보이는 문제가 있어 삽입 */
.react-flow svg {
	display: unset;
	max-width: unset;
}

.react-flow__viewport {
	--xy-edge-stroke-default: black;
	--xy-handle-border-color-default: black;
}

.dark .react-flow__viewport {
	--xy-edge-stroke-default: white;
	--xy-handle-border-color-default: white;
}
