#tilDate {
    font-size: 2rem;
    margin: 2vw 0;
}

#tilDate h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#timeTable {
    margin-bottom: 60px;
}

.timeTableElement {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.timeTableElement h2 {
    margin-right: 16px;
    font-size: 1rem;
}