#profileImage {
    margin-bottom: 20px;
}

#profileImage img {
    border-radius: 5px;
}

#mainIntroduction {
    margin-bottom: 15px;
}

#mainIntroduction h2 {
    font-size: 2rem;
    margin-bottom: 12px;
    font-family: bold;
    white-space: pre;
}

#mainIntroduction h3 {
    color: dimgray;
    font-size: 1rem;
}

#links {
    margin-top: 12px;
}

#links * {
    font-size: 1.2rem;
    text-decoration: none;
    color: dimgray;
    margin-right: 8px;
}
