#homeContainer {
    text-align: center;
}

#profileImage {
    margin-bottom: 20px;
}

#profileImage img {
    border-radius: 10px;
}

#homeContainer h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: bold;
    white-space: pre;
}

.changingTexts {
    color: dimgray;
    font-size: 1.2rem;
    margin-bottom: 0;
}

#homeContainer > h3 {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

#homeContainer li {
    list-style-type: none;
}

#homeContainer li a {
    font-family: code;
    display: block;
    text-decoration: none;
    color: royalblue;
    margin-bottom: 8px;
}