#archive-list {
    margin-bottom: 3rem;
}

.archive-row {
    margin-bottom: 1rem;
}

.archive-row h2 {
    font-size: 1rem;
    color: black;
}

.archive-bookmark {
    margin-bottom: 1rem;
}

.archive-bookmark a {
    display: block;
    font-family: 'bold';
}

.archive-bookmark p {
    font-size: 0.8rem;
}

#archive-content h2 {
    white-space: pre-line;
    margin-bottom: 3rem;
}