@font-face {
    font-family: 'bold';
    src: url(font/SpoqaHanSansNeo-Bold.woff2);
}

@font-face {
    font-family: 'bold';
    src: url(font/OpenSans-Bold.ttf);
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'regular';
    src: url(font/SpoqaHanSansNeo-Regular.woff2);
}

@font-face {
    font-family: 'regular';
    src: url(font/OpenSans-Regular.ttf);
    unicode-range: U+0041-005A, U+0061-007A;
}

* {
  font-family: 'regular', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  color: #333
}

a {
  text-decoration: none;
  color: royalblue;
}

h2 {
  font-size: 1.5rem;
  font-family: 'bold', sans-serif;
}

.section-title {
  font-family: 'bold', sans-serif;
  font-size: 2rem;
}

.section-title:not(:first-child) {
  margin-top: 30px;
}

h3 {
  font-size: 1rem;
  font-family: 'regular', sans-serif;
  color: dimgray;
}

p {
  font-size: 1rem;
  font-family: 'regular', sans-serif;
  line-height: 2;
  letter-spacing: -0.3px;
  white-space: pre-wrap;
}

strong {
  font-size: 1rem;
  font-family: 'bold', sans-serif;
}

#container {
  max-width: 600px;
  padding: 2vw 4vw;
  margin-bottom: 50vw;
}

/* ---------- Markdown ---------- */

#post-content img {
  display: block;
  max-width: 100%;
}

#post-content h2 {
  margin-bottom: 0.5rem;
  word-break: keep-all;
}

#post-content h2:not(:first-child) {
  margin-top: 2rem;
}

#post-content ol {
  list-style-type: decimal;
}

#post-content ul {
  list-style-type: square;
}

#post-content li {
  line-height: 2;
  margin-left: 20px;
}

#post-content blockquote {
  border-left: 4px solid black;
  padding-left: 16px;
}

#post-content p+p,
#post-content ul+p,
#post-content ol+p,
#post-content p+pre,
#post-content p+blockquote,
#post-content blockquote+p {
  margin-top: 16px;
}

#post-content blockquote+blockquote {
  margin-top: 24px;
}

hr {
  margin: 24px 0;
  color: dimgray;
}

#post-content pre+p {
  margin-top: 24px;
}

code {
  margin-top: 24px;
}

#post-content pre+p>em {
  color: dimgray;
}