/* #212A2E */
/* #5E3124 */
/* #AE5633 */
/* #E08149 */
/* #F0AD5F */
/* #718A91 */

@font-face {
  font-family: 'bold';
  src: url(../fonts/SpoqaHanSansNeo-Bold.woff2);
}

@font-face {
  font-family: 'bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'regular';
  src: url(../fonts/SpoqaHanSansNeo-Regular.woff2);
}

@font-face {
  font-family: 'regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'code';
  src: url(../fonts/FiraCode-VF.woff2);
}

* {
  font-family: 'regular', sans-serif;
  padding: 0; /* 없으면 이상한 padding margin이 붙음 */
  margin: 0; 
  -webkit-text-size-adjust: 100%;
  color: #333;
}
